/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

h1 {
  font-family: Nunito Sans;
  font-size: 50px;
  font-weight: 800px;
  text-align: center;
  padding: 20px 20px 0 20px;
  background-color: #d7a1fd;
}

span {
  font-size: 50px;
  font-weight: 300;
  font-family: Noto Serif;
}

h4 {
  text-align: center;
  font-family: Noto Serif;
  font-size: 20px;
  font-weight: 300;
  padding: 0 100px 20px 100px;
  background-color: #d7a1fd;
  color: #fff;
}

header div {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  padding: 20px 41px 20px 42px;
  justify-content: space-around;
}

header {
  background-color: black;
}

.tittle {
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  margin: 60px 20px 30px 20px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 20px 30px 20px;
}

.box_1 {
  text-align: center;
  margin: 10px;
  border: 1px solid black;
}

.box_1 p {
  padding-top: 20px;
}

.box_1 img {
  border-bottom: 7px solid #d7a1fd;
}

.thick {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 800;
  padding: 0 10px 0 10px;
}
