/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  display: block;
}

h1 {
  font-family: Nunito Sans;
  font-size: 50px;
  font-weight: 800px;
  text-align: center;
  padding: 20px 20px 0 20px;
  background-color: #d7a1fd;
}

span {
  font-size: 50px;
  font-weight: 300;
  font-family: Noto Serif;
}

h4 {
  text-align: center;
  font-family: Noto Serif;
  font-size: 20px;
  font-weight: 300;
  padding: 0 100px 20px 100px;
  color: #fff;
  background-color: #d7a1fd;
}

header div {
  color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  padding: 20px 41px 20px 42px;
  justify-content: space-around;
}

header {
  background-color: black;
}

.tittle {
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  margin: 60px 20px 30px 20px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 5px 30px 15px;
}

.box_1 {
  text-align: center;
  margin: 10px;
  border: 1px solid black;
  height: 300px;
  font-family: Noto Serif;
}

main span {
  font-family: Nunito Sans;
  font-size: 18px;
}

.box_1 p {
  padding-top: 20px;
  font-family: Noto Serif;
  font-size: 15px;
}

.box_1 img {
  border-bottom: 7px solid #d7a1fd;
}

.button {
  color: #d7a1fd;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  background-color: black;
  padding: 20px 30px 20px 30px;
  margin: 0 97px 60px 97px;
}

.green_title {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: italic;
  background-color: #98fb00;
  padding: 20px;
  letter-spacing: -1.5px;
  line-height: 28px; /* 93.333% */
}

.the_guardian {
  background-color: #98fb00;
  padding-bottom: 20px;
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
}

.second_section {
  background: #f4ede8;
}

.container_2 {
  display: flex;
  flex-direction: row;
}

.box_2 {
  background-color: #ffffff;
  border-radius: 20px;
}

.purple {
  background-color: #d7a1fd;
  padding: 20px;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 50px;
}

.green_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.green_block p {
  padding: 10px 20px 10px 20px;
  font-family: Nunito Sans;
  font-size: 19px;
  font-style: italic;
  width: calc(50%);
  background-color: #98fb00;
}

.individual_1 {
  border: 1px solid black;
}

.individual_2 {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.individual_3 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
